<div class="rsvp-container content">
  <h1>Hey, {{currentUser.firstName}}!</h1>

  <p>In celebration of you lighting up our life, it is our pleasure to invite you to our engagement party!</p>

  {{#each currentUser.invitedEvents as |event|}}
    <h3>{{event.name}}</h3>
    <p><b>Date:</b> {{moment-format event.date 'MMMM Do YYYY'}}</p>
    <p><b>Time:</b> {{event.time}} <br>
    (Come light up the room as your schedule allows – there are no formal proceedings)
    </p>
    <p><b>Place:</b> {{event.locationName}} (<a href="{{event.locationLink}}" target="_blank">Directions</a>)</p>

    <p><b>Dresscode:</b> {{event.dressCode}} </p>

    <p><i>Light snacks and drinks will be served.</i></p>

    <h4>Please RSVP for all the members listed in your party here:</h4>
    <div class="x-check-list">
      {{#x-check
        checked=(array-contains currentUser.attendingEvents event) onChange=(action 'toggleEvent' currentUser event target=rsvp)
      }}
        {{currentUser.name}}
      {{/x-check}}
      <br><br>
      {{#each currentUser.party as |member|}}
        {{#x-check
          checked=(array-contains member.attendingEvents event) onChange=(action 'toggleEvent' member event target=rsvp)
        }}
          {{member.name}}
        {{/x-check}}
        <br><br>
      {{/each}}
    </div>
  {{/each}}

  <br><br><br><br>

  <button class="btn" {{action 'saveCurrentUser' target=rsvp}}>Save</button>

  <br><br><br><br>

  <p><i>“We cannot hold a torch to light another’s path without brightening our own.”
  <br>Ben Sweetland</i></p>

</div>