<div class="rsvp-container">
  <h1>Hello, {{currentUser.firstName}}</h1>

  <p>We do hope that you will be able to celebrate with us!</p>

  <h3>Please RSVP on behalf of the following people:</h3>

  {{#x-check
    checked=member.isComing onChange=(action 'toggleEvent')
  }}
    {{currentUser.name}}
  {{/x-check}}

  <br>

  {{#if currentUser.party}}
    <h3>People in your party:</h3>
    {{#each currentUser.party as |member|}}
      {{member.name}} - {{x-check checked=member.isComing onChange=(action 'toggleEvent')}}<br>
    {{/each}}
  {{/if}}

  <button class="btn" {{action 'saveCurrentUser' target=rsvp}}>RSVP</button>

</div>