<div class="rsvp-container">
  <h1>Hey, {{currentUser.firstName}}!</h1>

  {{#each currentUser.invitedEvents as |event|}}

    <p>{{event.description}}</p>

    <h3>{{event.name}}</h3>
    <p><b>Date:</b> {{moment-format event.date 'MMMM Do YYYY'}}</p>
    <p><b>Time:</b> {{event.time}} <br>
    (Come light up the room as your schedule allows – there are no formal proceedings)
    </p>
    <p><b>Place:</b> {{event.locationName}} (<a href="{{event.locationLink}}" target="_blank">Directions</a>)</p>

    <p><b>Dress code:</b> {{event.dressCode}} </p>

    <p><i>Light snacks and drinks will be served.</i></p>

    <h4>Please RSVP for all the members listed in your party here:</h4>
    <div class="x-check-list">
      <div class="check-toggle-item">
        {{x-check
          class="cross"
          checked=(array-contains currentUser.notAttendingEvents event) onChange=(action 'toggleNotAttending' currentUser event target=rsvp)
        }}
        {{x-check
          checked=(array-contains currentUser.attendingEvents event) onChange=(action 'toggleAttending' currentUser event target=rsvp)
        }}
        {{currentUser.name}}
      </div>


      {{#each currentUser.party as |member|}}
        <div class="check-toggle-item">
          {{x-check
            class="cross"
            checked=(array-contains member.notAttendingEvents event) onChange=(action 'toggleNotAttending' member event target=rsvp)
          }}
          {{x-check
            checked=(array-contains member.attendingEvents event) onChange=(action 'toggleAttending' member event target=rsvp)
          }}
          {{member.name}}
        </div>
      {{/each}}
    </div>
  {{/each}}

  <br><br><br><br>

  <button class="btn {{if rsvp.saving 'disabled'}}" {{action 'saveCurrentUser' target=rsvp}}>{{#if rsvp.saving}}Saving{{else}}Save{{/if}}</button>

  <br><br><br><br>

  <p><i>“We cannot hold a torch to light another’s path without brightening our own.”
  <br>Ben Sweetland</i></p>

</div>