{{#if currentUser}}
  <div class="rsvp-container content">
    <h1>{{currentUser.firstName}},</h1>
    <p>You are currently logged in.</p>
    <p>You can find any relevant information in the menu above.</p>

    <p>Alternatively, you can simply log out below: </p>
    <br>
    <button class="btn" {{action 'unauthenticate' target=rsvp}}>Log out</button>

  </div>
{{else}}
  {{mc-logo}}
  <div class="rsvp-container">
    {{x-login uid=uid}}
  </div>
{{/if}}




