{{x-stars}}

{{music-toggle}}

{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    {{flash.message}}
  {{/flash-message}}
{{/each}}

{{#if rsvp.currentUserVerified}}
  {{x-menu}}
{{/if}}

{{outlet}}

<div class="flash-overlay {{if rsvp.animateLogin 'flash-in'}}"></div>
