{{x-stars}}

{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    {{flash.message}}
  {{/flash-message}}
{{/each}}

{{#if rsvp.currentUser}}
  {{x-menu}}
{{/if}}

{{outlet}}

{{!-- do we want some music? --}}
{{!-- <audio src="vir-altyd.mp3" autoplay="autoplay"></audio> --}}

<div class="flash-overlay {{if rsvp.animateLogin 'flash-in'}}"></div>
