<div class="rsvp-container">
  <div class="event-details">
    <h1>{{event.displayName}}</h1>
    <div class="description">{{simple-format event.description}}</div>

    <div class="event-field">
      <h3>Date</h3>
      <p>{{event.date}}</p>
    </div>

    <div class="event-field">
      <h3>Time</h3>
      <p>{{event.time}}</p>
      {{#if event.timeNotes}}
        <p class="note">{{event.timeNotes}}</p>
      {{/if}}
    </div>

    <div class="event-field">
      <h3>Venue</h3>
      <p>{{simple-format event.locationName}}</p>
      {{#if event.locationLink}}
        (<a href="{{event.locationLink}}" target="_blank">Directions</a>)
      {{/if}}
      {{#if event.locationNotes}}
        <p class="note mt16">{{simple-format event.locationNotes}}</p>
      {{/if}}
    </div>

    {{#if event.cateringNote}}
      <div class="event-field">
        <i>{{event.cateringNote}}</i>
      </div>
    {{/if}}

    <div class="event-field">
      <h3>Dress code</h3>
      <p>{{event.dressCode}}</p>
    </div>

    <div class="event-field">
      <h3>RSVP by</h3>
      <p>{{moment-format event.rsvpByDate 'Do MMMM YYYY'}}</p>
    </div>

    {{#if event.whatToPack}}
      <div class="event-field highlighted">
        <h3>What to pack</h3>
        <p>{{simple-format event.whatToPack}}</p>
      </div>
    {{/if}}

    <div class="event-field mt48">
      <h3>RSVP now</h3>
      <p class="note">Please RSVP for all the members listed in your party here</p>
      <div class="x-check-list">
        {{check-toggle-item user=currentUser event=event}}

        {{#each currentUser.party as |member|}}
          {{check-toggle-item user=member event=event}}
        {{/each}}
      </div>
    </div>


    <div class="event-field">
      {{#if userEventNotes}}
        <p class="note mb16">When you are done you can just save everything at once below.</p>
        {{#each userEventNotes as |eventNote|}}
          {{textarea value=eventNote.note placeholder="Dietary requirements? Other info you want to let us know about? Feel free to leave that here"}}
          <button class="btn s-s -i {{if removingNote 'disabled'}}" {{action 'removeNote' eventNote}}>Remove note</button>
        {{/each}}
      {{else}}
        <p class="note mb16">If you have any comments or queries, you can add a note here.</p>
        <button class="btn s-s -i {{if addingNote 'disabled'}}" {{action 'newNote'}}>Add note</button>
      {{/if}}
    </div>


    <div class="buttons mt48">
      <button class="btn {{if rsvp.saving 'disabled'}}" {{action 'saveCurrentUser' target=rsvp}}>{{#if rsvp.saving}}Saving{{else}}Save{{/if}}</button>
    </div>

  </div>

</div>